/* GLOBAL VARIABLE */
*{
    margin: 0;
    /* list-style-type: none; */
    /* border: 1px solid red; */
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: monts;
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montsbold;
    src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: slant;
    src: url(/fonts/Niconne-Regular.ttf);
}

@font-face {
    font-family: raleway;
    src: url(/fonts/Raleway-VariableFont_wght.ttf);
}

img{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    /* color: #000; */
}

body{
    font-family: monts;
}






/* HEADER STYLING STARTS HERE */
.header{
    height: 200px;
    color:hsl(192, 100%, 9%);
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.header::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    /* transform: translate(-50%,-50%); */
    background-color: grey;
    height: 1px;
    /* margin: 0 auto; */
}

.header h1{
    font-family: montsbold;
    font-size: 2.5rem;
}

.header p{
    font-family: slant;
    font-size: 1.5rem;
}


.navbar{
    border-bottom: 1px solid grey;
    
}

.container{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.socials,
.nav,
.cont-soc{
    list-style: none;
}



.socials a,
.cont-soc a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: red; */
    border: 1.3px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
}

.nav a{
    color: rgb(51, 50, 50);
}

a.active{
    color:  hsl(192, 100%, 9%);
    font-family: montsbold;
    font-weight: bold;
}

.open,
.close{
    display: none;
    font-size: 2rem;
    transition: .5s;    
}

.socials,
.cont-soc{
    display: flex;
    transition: .3s ease-in-out;
    gap: 1rem;
}

.socials.min{
    display: none;
}


.fa-facebook-f{
    color: #3b5998;    
}
.fa-twitter{
    color: #55acee;
}

.fa-linkedin{
    color: #0077b5;
}

.fa-instagram{
    color: #3f729b;
}



.socials a:hover,
.cont-soc a:hover{
    background-color: #c5c2c2;
}


/* GRID AREA */
.grid{
    height: 450px;
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}




/* swiper css styling */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: rgb(163, 109, 109); */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    min-width: 100%;
    /* border: 2px solid red; */
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    background-color: rgb(82, 79, 79);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    color: white;
    padding: 1rem;
    z-index: -1;
}

/* 
@keyframes show {

    to{
        opacity: 1;
    }
} */

.slider-content.blur{
    width: 70%;
    height: 70%;
    /* opacity: 0; */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border: 1.3px solid grey;
    animation: show 3s linear forwards;
    /* animation-delay: 1s; */
}

.swiper-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}

.slider-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* opacity: 0; */
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}


.swiper-slide h1,
.swiper-slide h2{
    width: 50%;
    margin-bottom: 10px;
}

.slant{
    font-family: slant;
    font-size: 2.5rem;
    margin-top: -5px;
    color: #e8491d;
}



.one{
    background-image: url(/images/pexels-artem-beliaikin-1036856.jpg);
    font-family: montsbold;
}

.two{
    background-image: url(/images/pexels-artem-beliaikin-994517.jpg);
}

.three{
    background-image: url(/images/pexels-clem-onojeghuo-175696.jpg);
}

.four{
    background-image: url(/images/pexels-pixabay-325876.jpg);
}

.five{
    background-image: url(/images/pexels-tembela-bohle-1884579.jpg);
}




































.contact-us{
    font-family: raleway;
}

.contact-container{
    width: 90%;
    margin: 0 auto;
    /* border: 1.3px solid red; */
    padding: 1rem;

}

.contact-container h2{
    text-align: center;
    padding-top: 2rem ;
    font-family: montsbold;
}

.qts{
    text-align: center;
    padding-bottom: 2rem ;
}

.contact-card{
    display: grid;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); */
    border: 1px solid hsl(192, 100%, 9%);
    grid-template-columns: 65% 35%;
}

.top{
    margin: 15px 0;
}



.flexx{
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
    /* align-items: center; */
    
}

.flexx > div{
    flex: 1;
}

.fields{
    margin: 10px 0;
}

.fields label{
    display: block;
    margin-bottom: 5px;
}

form{
    padding: 1rem;
}

form p{
    padding: 10px 0;
    text-align: center;
    font-family: montsbold;
}

::placeholder{
    color: grey;
    font-family: raleway;
}

.fields input{
    border: 1.3px solid grey;
    display: block;
    padding: 9px;
    width: 100%;
    outline: none;
}

.fields textarea{
    padding: 10px;
    resize: none;
    width: 100%;
    border: 1.3px solid grey;
    outline: none;
}

.submit{
    display: block;
    padding: 9px;
    width: 10rem;
    background-color: #35424a;
    color: #fff;
    font-family: raleway;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover{
    background-color: hsl(192, 100%, 9%);
}

.card-b{
    background-color: #35424a;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 2rem;
    color: #fff;
}

.reach-flex{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 25px 0;
}

.icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cont-soc a{
    color: #fff;
}

.suggest-page{
    margin: 2rem auto;
    /* border: 1px solid red; */
}

.suggest{
    width: 90%;
    margin: 0 auto 2rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas: 
        'a b c'
        'd b e';
    min-height: 500px;
    position: relative;
}

.a{
    grid-area: a;
}

.b{
    grid-area: b;
}

.c{
    grid-area: c;
}

.d{
    grid-area: d;
}

.e{
    grid-area: e;
}

.suggest-photo{
    height: 300px;
    /* border: 1px solid green; */
    overflow: hidden;
    position: relative;
}


.more{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* display: none; */
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: .4s;
}

.center{
    font-family: montsbold;
    background-color: #e8491d;
    color: #fff;
    padding: 5px;
    transition: .5s;
}

.center:hover{
    background-color: hsl(192, 100%, 9%);
}

.more:hover{
    /* background-color: red; */
    opacity: 1;
}





.large-photo{
    /* border: 1px solid green; */
    height: 80%;
    overflow: hidden;
    position: relative;
}

.info{
    padding: 10px;
    text-align: center;
    position: relative;
}
/* 
.info::before{
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: grey;
    position: absolute;
    height: 1px;
    width: 6rem;
} */


.info h3{
    margin-bottom: 5px;
    font-family: montsbold;
    color: hsl(192, 100%, 9%);
}

.img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden;
    
}



.card-content{
    /* border: 1px solid red; */
    padding: 10px;
    text-align: center;
    font-family: montsbold;
    font-size: 1.3rem;
}

.suggest-page h2{
    text-align: center;
    font-weight: bold;
    color: hsl(192, 100%, 9%);
    font-family: montsbold;
    position: relative;
    margin: 3rem 0;
    padding: 3px 0;
}

.suggest-page h2::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 3rem;
    height: 1.3px;
    background-color: grey;
    transform: translate(-50%,-50%);
}








.head{
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem 0 1rem ;
    width: 85%;
    margin: 0 auto;
}


footer{
    background-color: hsl(192, 100%, 9%);
    padding: 10px;
    color: #fff;
    text-align: center;
}

.bold{
    font-family: montsbold;
}

.btn1{
    font-size: 14px;
    /* font-family: raleway; */
    color: hsl(192, 100%, 9%);
    margin-top: 5px;
    display: inline-block;
    display: none;
}


.fashion::after{
    content: 'FASHION';
    position: absolute;
    /* border: 2px solid red; */
    bottom: -18.5px;
    background-color: #fff;
    font-family: montsbold;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 10px;
    /* z-index: ; */
}


.lifestylee::after{
    content: 'LIFESTYLE';
    position: absolute;
    /* border: 2px solid red; */
    bottom: -18.5px;
    background-color: #fff;
    font-family: montsbold;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px 10px;
    /* z-index: ; */
}
















@media (max-width: 1024px) {
    .header{
        height: 150px;
    }

    .contact-card{
    
        grid-template-columns: 60% 40%;
    }


    .reach-flex{
        gap: 1rem;
    }

    .info h3{
        font-size: 1rem;
    }

    .suggest-page{
        width: 96%;
    }
}
@media (max-width: 990px){

    .reach-flex{
        flex-direction: column;
    }

    .card-b{
        text-align: center;
    }

    .cont-soc{
        justify-content: center;
    }

    .swiper-slide h1{
        font-size: 25px;
        width: 70%;
    }

    .info h3{
        font-size: 1rem;
    }

    .info p{
        font-size: 14px;
    }

}


@media (max-width: 650px){
    .socials{
        display: none;
    }

    .grid{
        height: 350px;
    }
    
    .container{
        justify-content: center;
    }

    .contact-card{
    
        grid-template-columns: 1fr;
    }

    .swiper-slide h1,
    .swiper-slide h2{
        width: 70%;
        margin-bottom: 10px;
        font-size: 19px;
    }

    .suggest{
        grid-template-areas: 
            'a'
            'b'
            'c'
            'd'
            'e';
        grid-gap: 2rem;
    }

    .head p{
        font-size: 15px;
        /* border: 1px solid red; */
    }
   

} 

@media (max-width: 500px){
    .header{
        height: 100px;
    }

    .navigation{
        background-color: transparent;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: -100%;
        /* position: relative; */
        z-index: 1000;
        transition: .5s ease-in-out;
    }

   .nav{
       position: absolute;
       background-color: #000;
       color: #fff;
       top: 150px;
       left: 0%;
       width: 100vw;
       height: fit-content;
       display: block;
       padding: 10px 0 30px;
       z-index: 9999;
       /* position: relative; */
    }


    .header{
        position: sticky;
        top: 0;
        background-color: #fff;
        left: 0;
        z-index: 1000;
    }

    .grid{
        height: 300px;
        z-index: -1;
    }

    a.active{
        background-color: rgba(255, 255, 255, 0.1);
    }

    .slider-content.blur{
        width: 95%;
    }


    .slant{
        font-size: 1rem;
    }

    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        
    }

    

    .navigation.active{
        left: 0;
    }

    .container{
        justify-content: flex-end;
    }


    .open,
    .close{
        display: flex;
    }

    .nav a{
        color: #fff;
        display: block;
        padding: 15px;
        text-align: center;
    }

    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }

    .socials.min{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    .socials.min a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flexx{
        flex-direction: column;
        gap: 0;
    }

    .submit{
        width: 100%;
    }
    
    .socials.cont-soc{
        display: flex;
    }

    
    .card-content{
        /* border: 1px solid grey; */
        /* padding: 5px; */
        font-family: montsbold;
        font-size: 1.5rem;
    }

    .suggest-page h2{
        margin: 1rem 0;
    }
    
    .head{
        gap: 4px;
        flex-direction: column;
        font-size: 10px;
    
    }

    .head p{
        opacity: 1;
        margin: 0;
    }

    footer{
        font-size: 10px;
    }


    .muted{
        font-size: 10px;
    }

    .btn1{display: inline-block;}

}


